* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(3, 37, 32, 255),
    rgba(0, 0, 0)
  );
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
nav ul {
  margin-top: 50px;
}
nav h3 {
  float: left;
  width: 25%;
  margin-top: 40px;
  margin-left: 90px;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  float: left;
  width: 60%;
  display: flex;
  justify-content: center;
}

nav:first-child ul li {
  display: flex;
}
nav li {
  height: 60px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  color: white;
}
nav a:hover {
  color: rgba(153, 187, 182, 1);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-image: linear-gradient(
    to bottom,
    rgba(3, 37, 32, 255),
    rgba(0, 0, 0)
  );
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
}
.sidebar a {
  text-decoration: none;
}
.sidebar ul li {
  list-style: none;
}

.x {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .hideMobile {
    display: none !important;
  }
}
