* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(3, 37, 32, 255),
    rgba(0, 0, 0)
  );
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover {
  color: rgba(153, 187, 182, 1);
}
nav li:first-child {
  margin-right: auto;
}

.sidebar {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-image: linear-gradient(
    to bottom,
    rgba(3, 37, 32, 255),
    rgba(0, 0, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar a {
  text-decoration: none;
}
.sidebar ul li {
  list-style: none;
}
